.header {
    background-color: #ffffff;
    box-sizing: border-box;
    width: 100vw;
    height: var(--header);
    padding: 15px 10px 12px 10px; 
    text-align: center;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
}

.header .logo {
    width: 160px;
    margin-bottom: 18px;
}